version: '3.8'
services:
  web:
    build: .
    command: bash -c "bin/rails db:migrate && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db/todo_weather_db
      RAILS_ENV: development
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}

  db:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todo_weather_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: